.story-subtitle {
    font-style: italic;
}

.source-box > h4, .example-box > h4 {
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.example-box > div {
    padding: 18px;
    background: url('./pixel-background.gif') repeat 8px 8px;
    border: 1px solid transparent;
}

.source-box > div {
    background: none;
    border: 1px solid transparent;
}
