{
  "extends": "airbnb",
  "rules": {
    "arrow-body-style": 0,
    "prefer-arrow-callback": 0,
    "func-names": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-no-bind": 0,
    "react/jsx-uses-react": 1,
    "react/prefer-stateless-function": 0,
    "import/no-named-as-default": 0,
    "import/no-named-as-default-member": 0,
    "import/named": 0
  },
  "parserOptions": {
    "ecmaVersion": 9
  }
}
